<div class="card" style="width: 18rem">
  <div class="card-header text-center">
    <b>Users</b>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let user of users">
      {{ user.firstName }} {{ user.lastName }}
    </li>
  </ul>
</div>

<div class="card mt-3" style="width: 18rem">
  <div class="card-header text-center">
    <b>Add new user</b>
  </div>
  <div>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <label class="mt-3">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">First name</span>
          </div>
          <input type="text" class="form-control" formControlName="firstName">
        </div>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text">Last name</span>
          </div>
          <input type="text" class="form-control" formControlName="lastName">
        </div>
      </label>
    </form>
    <hr>
    <button type="submit"
            class="btn btn-primary btn-sm btn-block"
            (click)="onSubmit()"
    [disabled]="userForm.value.lastName == '' || userForm.value.firstName == ''">Submit!</button>
  </div>
</div>
